/* ================================================== */
/*      https://www.w3schools.com/css/default.asp
/*
/* ================================================== */

body {
  display: flex;

  width: 95%;
  height: 95%;

  background-color: rgb(28, 29, 28);  

  margin-top: 1px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 5px;

  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;  

  text-indent: 0px;

  font-family: Verdana, Geneva, sans-serif;
  font: normal 9pt Verdana;
  color: lightgreen;    

  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: absolute; 
}

#output {
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}